body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 12px '宋体',
    'Arial Narrow',
    HELVETICA;

    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none;
}

a:hover {
    color: #cd0200;
    text-decoration: underline;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-wrap: break-word;
}

html {
    background-color: #e8e8e8;
}

/*引入字体*/
@font-face {
    font-family: "AFKYS";
    src: url('@/font/AFYYSR.ttf');
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 5px;
}


html {
    scrollbar-width: 10px;
    scrollbar-base-color: green;
    scrollbar-track-color: red;
    scrollbar-arrow-color: blue;
    background-size: cover;
    background-position: center;
}
